@import "tailwindcss";

html[data-theme="light"] {
  --background: #ffffff;
  --foreground: #1f2937;
  background-color: #ffffff;
  color-scheme: light;
}

html[data-theme="dark"] {
  --background: #161616;
  --foreground: #ffffff;
  background-color: #161616;
  color-scheme: dark;
}

html {
  background-color: #161616;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}
